:root {
    font-family: SF Pro, Helvetica Neue Interface, Arial, sans-serif;

    --background-img: url("./assets/ParisRoom - Day.png");
    --windows-glass: hsla(0, 0%, 50%, 0.3);
    --light-direction: 175deg;
    --specular: linear-gradient(var(--light-direction, 175deg), rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.01) 40%, rgba(255, 255, 255, 0.01) 60%, rgba(255, 255, 255, 0.1) 100%);

    --colors-black: #000;
    --clr-text-primary: rgba(255, 255, 255, 0.96);
    --clr-text-secondary: rgba(255, 255, 255, 0.23);

}

@media (prefers-color-scheme: dark) {
    :root {
        --background-img: url("./assets/ParisRoom - Night.png");
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    position: relative;
    min-width: 24px;
    min-height: 24px;

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 19px;
    font-style: normal;
    font-weight: 590;
    line-height: 24px;
}

button:hover {
    background: var(--windows-glass, rgba(128, 128, 128, 0.30));
    background-blend-mode: luminosity;
    backdrop-filter: blur(50px);
}

button::after {
    content: "";
    position: absolute;
    inset: 0px;
    min-width: 60px;
    min-height: 60px;
    background: rgba(128, 0, 0, 0);
    cursor: pointer;
    border-radius: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

.debug {
    outline: solid 0.5px lime;
}

.title1 {
    color: var(--clr-text-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}


body {
    height: 100vh;
    background: var(--background-img) no-repeat center center fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
}



.glass {
    --_border-width: 2px;
    --_border-radius: 40px;
    border: solid var(--_border-width) rgba(255, 255, 255, 0.30);
    border-radius: var(--_border-radius);

    background: var(--windows-glass, rgba(128, 128, 128, 0.30));
    background-blend-mode: luminosity;
    backdrop-filter: blur(50px);

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

/* .glass::after {
    content: "";
    display: absolute;
    position: absolute;
    inset: calc(-1 * var(--_border-width));

    border-radius: calc(var(--_border-width) + var(--_border-radius));

    background: var(--specular);
    background-blend-mode: luminosity;
}
*/


.borderless {
    background: none;
    border: none;
}


section,
.window {
    --ornament-gap: 36px;
    --ornament-overlap: 20px;

    display: grid;
    place-items: center;


    grid-template-columns: 1fr minmax(auto, 50rem) 1fr;
    grid-template-rows: 1fr minmax(auto, 29rem) 1fr;
    grid-template-areas:
        ".              ornament-top          ."
        "ornament-start   content    ornament-end"
        ".            ornament-bottom         .";

    gap: var(--ornament-gap);

    /* The main window is 3m from us ... */
    perspective: 300cm;

}

.ornament {
    transition: all .2s ease-in-out;

    &:hover {
        transform: translateZ(2cm);
    }

    &:active {
        transform: translateZ(-2cm);
    }
}

main,
.content {
    width: 100%;
    height: 100%;
    grid-area: content;

    padding: 24px;
}

.ornament-start {
    grid-area: ornament-start;

    &.atached {
        margin-inline-end: calc(-1 * (var(--ornament-overlap) + var(--ornament-gap)));
    }
}

.ornament-top {
    grid-area: ornament-top;

    &.atached {
        margin-block-end: calc(-1 * (var(--ornament-overlap) + var(--ornament-gap)));
    }
}

.ornament-end {
    grid-area: ornament-end;

    &.atached {
        margin-inline-start: calc(-1 * (var(--ornament-overlap) + var(--ornament-gap)));
    }
}

.ornament-bottom {
    grid-area: ornament-bottom;

    &.atached {
        margin-block-start: calc(-1 * (var(--ornament-overlap) + var(--ornament-gap)));
    }
}

.controlbar>button {
    height: 60px;
    border-radius: 60px;
}